<!-- <div class="signup-container">
    <h2>Register</h2>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" />
        <mat-error *ngIf="signupForm.get('username')?.invalid && registerForm.get('username')?.touched">
          Username is required.
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
        <mat-error *ngIf="signupForm.get('password')?.invalid && registerForm.get('password')?.touched">
          <small *ngIf="signupForm.get('password')?.errors?.['required']">Password is required.</small>
          <small *ngIf="signupForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters.</small>
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" formControlName="confirmPassword" />
        <mat-error *ngIf="signupForm.get('confirmPassword')?.invalid && signupForm.get('confirmPassword')?.touched">
          Confirm Password is required.
        </mat-error>
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit" [disabled]="signupForm.invalid">Signup</button>
    </form>
  </div>
   -->
   <div class="signup-container">
    <h2>Signup</h2>
  
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      
      <mat-form-field appearance="fill">
        <mat-label>First name</mat-label>
        <input matInput formControlName="firstName" required>
        @if (signupForm.get('firstName')?.hasError('required')){
          <mat-error>First name is required</mat-error>
        }

        @if (signupForm.get('firstName')?.hasError('minlength')){
          <mat-error>First name must be at least 3 characters long</mat-error>
        }
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Last name</mat-label>
        <input matInput formControlName="lastName" required>
        @if (signupForm.get('lastName')?.hasError('required')){
          <mat-error>Last name is required </mat-error>
        }
        @if (signupForm.get('lastName')?.hasError('minlength')){
          <mat-error>Last name must be at least 3 characters long</mat-error>
        }
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" required>
       @if (signupForm.get('email')?.hasError('required')){
        <mat-error>Email is required</mat-error>
       }
        @if (signupForm.get('email')?.hasError('email')){
          <mat-error>Please enter a valid email address</mat-error>
        }
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required>
        @if (signupForm.get('password')?.hasError('required')){
          <mat-error>Password is required</mat-error>
        }
        @if (signupForm.get('password')?.hasError('minlength')){
          <mat-error>Password must be at least 6 characters long</mat-error>
        }
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" formControlName="confirmPassword" required>
        @if (signupForm.get('confirmPassword')?.hasError('required')){
        <mat-error>Confirm password is required</mat-error>
        }
      @if (signupForm.errors?.['mismatch']){
        <mat-error>Passwords do not match</mat-error>
      }
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Role</mat-label>
        <mat-select formControlName="role" required>
          <mat-option value="user">User</mat-option>
          <mat-option value="admin">Admin</mat-option>
        </mat-select>
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit" [disabled]="signupForm.invalid">Register</button>
      <p>Already have an account? <a href="/login">Login</a></p>
    </form>
  </div>
  