.font {
  font-weight: bold; 
  text-transform: uppercase; 
  color: white; 
}
 
  .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.font {
  font-weight: bold; 
  text-transform: uppercase;
  color: white; 
}

button {
  margin-top: 1rem;
} 
